<div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4">
      <div class="card">
        <img src="assets\jpg028124.jpg" class="card-img-top" alt="..." height="300px">
        <div class="card-body">
          <h5 class="card-title">Wedding photography</h5>
          <button type="button" class="btn btn-link">see more album</button>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="assets\engagement.png" class="card-img-top" alt="..." height="300px">
        <div class="card-body">
          <h5 class="card-title">engagement photography</h5>
          <button type="button" class="btn btn-link">see more album</button>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="assets\IMG_6382.jpg" class="card-img-top" alt="..." height="300px">
        <div class="card-body">
          <h5 class="card-title">other</h5>
          <button type="button" class="btn btn-link">see more album</button>
        </div>
      </div>
    </div>
    
  </div>
